body,
h1,
p {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}

nav {
   background-color: #333;
   padding: 10px;
   text-align: right;
   color: #333;
   margin: 0 auto;
   width: 100%;
}

.selected {
   color: #3f8c31;
   font-weight: bold;
   font-size: 20px;
   margin-right: 15px;
   /* border: 3px solid #a5c4b3;
     border-radius: 10px; /* Make the border rounded 
     border-color:#a5c4b3; */
   /* padding: 5px 10px;
     background-color:#a5c4b3; */
     padding: 0 15px 0px 0px;
     text-decoration: none;
}

.non-selected {
   color: whitesmoke; /* Dark Grey color for Home */
   font-weight: bold;
   font-size: 20px;
   margin-right: 15px;
   padding: 0 15px 0px 0px;
   text-decoration: none;
}

.non-selected:hover {
   color: #3f8c31;
}

.nav-logo {
   position: absolute;
   top: 0;
   left: 5px;
   width: 46px;
   height: 46px;
}

body.admin-body {
   font-family: "Arial Rounded Mt Bold Font", sans-serif;
   background-color: #A4B494; /* Light gray background */
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
}

.logo {
   position: absolute;
   top: 10px;
   left: 10px;
   width: 65px;
   height: 65px;
}

h1 {
   color: #A4B494;
   font-size: 35px;
   margin-bottom: 10px;
}

.login-wrapper {
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   margin: 20px;
   padding: 40px;
   border-radius: 10px; /* Make the border rounded */
   text-align: center;
}

form {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.input-box {
   position: relative;
   margin-bottom: 20px;
   width: 80%;
   max-width: 400px;
   ;
}

input,
select{
   padding: 10px;
   width: 100%;
   box-sizing: border-box;
   border: 1px solid #ddd; /* Light gray border */
   border-radius: 5px;
}

/* Style the lock icon */
i {
   position: absolute;
   top: 50%;
   right: 10px;
   transform: translateY(-50%);
   color: #999;
}

/* Style the submit button */
.btn {
   background-color: #4caf50;
   color: #fff;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s;
}

.btn:hover {
   background-color: #3f8c31;
}

.action-btn {
   padding: 5px 10px;
   margin-right: 5px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

.accept {
   background-color: #4CAF50;
   color: white;
}

.reject {
   background-color: #f44336;
   color: white;
}

.modify {
   background-color: #ff9800;
   color: white;
}

body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background: #f4f4f4;
   color: #333;
}

.container {
   width: auto;
   padding: 20px;
   margin: 20px auto;
   overflow-x: auto;
}

.actions-container {
   display: flex;
   align-items: center;
   justify-content: flex-end;
}

.actions-container span {
   margin-right: auto;
}

#reservationsTable {
   width: 100%;
   border-collapse: collapse;
   margin-top: 20px;
}

#reservationsTable th,
#reservationsTable td {
   border: 1px solid #ddd;
   padding: 10px;
   text-align: left;
}

#reservationsTable th {
   background-color: #a4b494;
   color: white;
}

#reservationsTable tr:nth-child(even) {
   background-color: #f2f2f2;
}

#reservationsTable tr:hover {
   background-color: #ddd;
}

header {
   background: #a4b494;
   color: white;
   padding: 10px 0;
   text-align: center;
}

/* Modal Background */
.modal {
   display: none;
   position: fixed;
   z-index: 2;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.6);
}

/* Modal Content Box */
.modal-content {
   background-color: #e1dfcf; 
   margin: 5% auto; 
   padding: 20px;
   border: 1px solid #888; 
   width: 90%; 
   max-width: 600px; 
   border-radius: 10px; 
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
   overflow-y: auto;
}

.close-btn {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
   margin-top: -10px;
   margin-right: -10px;
}

.close-btn:hover,
.close-btn:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
}

.modal-content h2 {
   color: #333;
   text-align: left;
   margin-bottom: 20px;
}

#modifyForm {
   display: flex;
   flex-direction: column;

}

h3 {
   color: #333; 
   font-weight: bold;
   font-size: larger;
 }

#modifyForm label {
   margin-bottom: 5px;
   color: #333;
   text-align:left;
   font-weight: bold;
}

#modifyForm input[type='datetime-local'],
#modifyForm input[type='number'],
#modifyForm input[type='text'] {
   padding: 10px;
   margin-bottom: 20px;
   border: 1px solid #ddd;
   border-radius: 4px;
}

#modifyForm button {
   background-color: #678b81;
   color: white;
   padding: 10px 15px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-size: 16px;
}

#modifyForm button:hover {
   background-color: #218838;
}